.quiz--finished {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quiz--check {
    z-index: 2;
    margin-top: 20px;
    background: #4D5B9E;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    color: #F5F7FB;
    padding: 12px 24px;
}


.quiz--count {
    z-index: 2;
    font-size: 1.25em;
    color: #293264;
    padding-top: 18px
}